<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://dd5394a0b8ca8e97ba29-abf76f3d91a2125517d6c7c409f095c7.ssl.cf1.rackcdn.com/content/common/action/2020/221dc2cd-32e4-4303-b3d2-f960925e9e5f.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>First Slide</h3>
          <p>This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://dd5394a0b8ca8e97ba29-abf76f3d91a2125517d6c7c409f095c7.ssl.cf1.rackcdn.com/content/common/action/2020/58855eec-7655-4855-a739-c1f3b376cf17.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second Slide</h3>
          <p>This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://dd5394a0b8ca8e97ba29-abf76f3d91a2125517d6c7c409f095c7.ssl.cf1.rackcdn.com/content/common/action/2020/427acd06-f441-4f9d-b9cf-9e346afb208b.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third Slide</h3>
          <p>This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container_16 rspv-container"> 
    <div class="grid_8">
    
        <div id="contentWrapper_5d27708b2a0ab649fc88d334" class="contentwrapper">
            <div class="htmlWrapper" ><div class="splashImageContainer" style="background-image: url('https://dd5394a0b8ca8e97ba29-abf76f3d91a2125517d6c7c409f095c7.ssl.cf1.rackcdn.com/content/common/files/Category_Pages/2020-inset-r-world-lg.jpg');">
              <img style="float: left; height: 367px; width: 745px;" src="https://dd5394a0b8ca8e97ba29-abf76f3d91a2125517d6c7c409f095c7.ssl.cf1.rackcdn.com/content/common/files/Category_Pages/2020-inset-r-world-sm.jpg" srcset="https://dd5394a0b8ca8e97ba29-abf76f3d91a2125517d6c7c409f095c7.ssl.cf1.rackcdn.com/content/common/files/Category_Pages/2020-inset-r-world-md.jpg 600w, https://dd5394a0b8ca8e97ba29-abf76f3d91a2125517d6c7c409f095c7.ssl.cf1.rackcdn.com/content/common/files/Category_Pages/2020-inset-r-world-lg.jpg 960w" alt="R World image"></div></div>
        </div>
     
    </div>
  
    <div class="grid_8">
    
        <div id="contentWrapper_5d27708e2a0ab649fc88d364" class="contentwrapper">
            <div class="htmlWrapper" ><style type="text/css"> 
  
  .insertSectionIntroTextWhite { font-family: 'Univers LT W01_57 Condensed'; font-size: 1.25em; line-height: 1.5em; color: #fff; text-decoration: none; margin: 0px 30px 20px 30px; text-align: center; }
  
  </style>
  <div class="splashContentContainer" style="background: black;">
  <div><img style="display: block; margin-left: auto; margin-right: auto; height: 278px;" src="https://dcassetcdn.com/design_img/2346589/43960/43960_12262576_2346589_e6d94c33_image.jpg" alt="R World Logo" width="350" height="199">
  <div class="insertSectionIntroTextWhite">We own the most sought after supersport motorcycles to bring you the pinnacle of performance on and off the track. What are you waiting for? Come with them to get the best driving experience.</div>
  </div>
  </div></div>
        </div>
     
    </div>
  </div>